@charset "utf-8";
html { color: #333;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin: 0; padding: 0}
body,button,input,select,textarea { font: 12px/1.5 tahoma,arial,'微软雅黑'; color: #666 }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: 400 }
address,cite,dfn,em,var,caption,strong,th,i,code,kbd,pre,samp { font-style: normal; font-weight: 400}
ul,ol { list-style: none}
sub,sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em}
sub { bottom: -0.25em }
input,button,textarea,fieldset,img { border: 0 none }
button,input,select,textarea { font-size: 100%; vertical-align: middle; font-family: inherit}
textarea { overflow: auto; vertical-align: top}
table { border-collapse: collapse; border-spacing: 0 }
th { text-align: inherit}
caption,th { text-align: center}
a { text-decoration: none; color: #666}
a:hover { text-decoration: none; color: #d00 }
.clearfix:before,.clearfix:after { display: table; content: ''}
.clearfix:after { clear: both}
.clearfix { *zoom:1}
q:before,q:after { content: ""}
.clear { clear: both}
iframe { display: block }
abbr,acronym { border: 0 none; font-variant: normal}
del { text-decoration: line-through}
.fl { float: left}
.fr { float: right}
.fc { clear: both}
.fz { zoom:1}
img { border: none 0 }
input { _border: none; outline: none}
a {color: #666;}
a:hover {color: #dd0000;}
/*header*/
#header{ background:white; height:50px; padding:0;}

/*login*/
.login-wrap{ width:100%; height:480px;    background: #36AABD;}
.login-wrap .wrap{ width:1082px; height:480px; padding:0 115px; margin:0 auto;}


/*login右侧登录框*/
.login-wrap .form-box{ width:380px; min-height:410px; _height:410px; margin-top:35px; background:#fff;}
.form-box .form-tab{ width:380px; height:52px; border-bottom:1px solid #ddd; font-family:"Microsoft YaHei";}
.form-tab .tab-li{ float:left; width:50%; height:50px; border-bottom:2px solid #fff;}
.form-tab .tab-li a{ position:relative; display:block; text-align:center; height:50px; line-height:52px; font-size:18px; color:#999; text-decoration:none;}
.form-tab .tab-li.cur{ border-bottom-color:#d00;}
.form-tab .tab-li.cur a{ color:#d00;}
.form-tab .tab-li .icon{ position:absolute; top:10px; width:18px; height:14px; margin-left:6px; background:url(../img/new.png) 0 0 no-repeat;}

.form-box .form-con{ width:434px; height:345px; padding:38px 28px 0;}
.form-box .weixin-login{ width:380px; padding-top:50px;}
.login-add .form-con{ height:342px; padding-top:41px;}
.form-box .login-normal,.form-box .login-partner{ display:none;position:relative; width:354px; padding:0 40px;}
.form-box .form-error{ display:none; position:absolute; top:-32px;max-height: 32px; padding:4px 6px 4px 12px; border:1px solid #ffddbc; background:#fffceb;}
.form-box .form-error i{ position:absolute; top:4px; left:12px; width:16px; height:16px;background: url(../img/member.png) -124px 0 no-repeat;}
.form-box .form-error .text{display:block;max-width: 258px; padding-left:22px; line-height:16px; font-family:"Microsoft YaHei"; color:#666;/*  white-space:nowrap;background:url(../img/member.png) -124px 0 no-repeat; */ }
.form-box dl{ position:relative; width:350px; height:20px; line-height:20px; padding:16px 0; border:1px solid #ddd; font-family:"Microsoft YaHei"; font-size:14px;}
.login-add dl{padding:14px 0;}
.form-box .error{ z-index:5; border-color:#f66;}
.form-box .top1{ top:-1px;}
.form-box .top2{ top:-2px;}
.form-box .top3{ top:-3px;}
.form-box dt{ float:left; width:60px; height:20px; line-height:20px; padding-left:20px;}
.form-box dt em{ padding:0 7px;}
.form-box dd{ position:relative; float:left; width:270px; height:20px; line-height:20px;}
.form-box .placeholder{ position:absolute; height:20px; line-height:20px; left:10px; z-index:1; color:#ccc;}
.form-box .input-text,.form-box .input-yzm,.form-box .input-jym{ position:absolute; height:20px; line-height:20px; padding:0 10px; left:0; z-index:2; background:transparent; outline:0 none; color:#333;}
.form-box .input-text{width:250px;}
.form-box .input-yzm{width:83px;}
.form-box .input-jym{width:80px;}
.form-box .span-yzm{ position:absolute; top:-16px; right:0; width:162px; height:36px; line-height:36px; padding:8px 0; border-left:1px solid #ddd;}
.login-add .span-yzm{ top:-14px; padding:6px 0;}
.form-box .error .span-yzm{ border-left-color:#d00;}
.form-box .span-yzm img{ height:36px; width:88px; margin:0 13px; vertical-align:top;}
.form-box .span-jym{ position:absolute; top:-8px; right:6px; width:98px; height:34px; line-height:34px; text-align:center; color:#f33; font-size:12px; border:1px solid #d66; border-radius:5px; text-decoration:none;}
.form-box .disabled{ border-color:#ccc; color:#999;}
.form-box .tips{ display:none; position:absolute;left:100%; top:50%; width:auto; height:22px; line-height:22px; padding:10px 12px; margin-top:-22px; border:1px solid #ffddbc; background:#fffceb; white-space:nowrap;}
.form-box .tips em{ position:absolute; top:-1px; left:-10px; width:11px; height:10px; background:url(../img/member.png) 0 0 no-repeat;}
.form-box .tips i{ display:inline-block; width:24px; height:24px; background:url(../img/member.png) -11px 0 no-repeat; vertical-align:top;}
.form-box .error .tips{display:block;}
.form-box .tips span{ display:inline-block; margin-left:8px;}
.form-box .form-remember{ padding:18px 0 24px;}
.login-add .form-remember{ padding:12px 0 18px;}
.form-box .login-partner .form-remember{ padding:12px 0 18px;}
.form-remember .rem-box{ display:inline-block; height:13px; line-height:13px; padding-left:20px; background:url(../img/rem-check.png) 0 0 no-repeat; cursor:default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
.form-remember .memCheck{ background-position:0 -13px;}
.form-remember .rem-check{ display:none; height:13px; width:13px;}
.form-remember .rem-box-r{ margin-left:0px;}
.form-box .btn-box{ height:46px;}
.login-add .btn-box{ height:40px;}
.form-box .login-partner .btn-box{ height:40px;}
.btn-settlement{ float:left; display:inline-block; height:40px; line-height:40px; width:100%; text-align:center; font-size:16px; color:#fff; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border-radius:5px;background-color:#d00; outline:0 none; font-family:"Microsoft YaHei"; cursor:pointer;}
.btn-settlement:hover{ background-color:#e00;}
.form-box .btn-box .btn-settlement{ width:270px;}
.form-box .forget-pass{ color:#007fd7;}
.form-box .forget-pass:hover{ color:#d00;}
.form-box .btn-box .forget-pass{ float:right; width:72px; margin-left:10px; line-height:40px; font-family:"Microsoft YaHei";}
.form-box .login-short{ margin-top:18px; border-top:1px dotted #ddd;}
.login-short h3{ font-size:12px; line-height:1; padding:17px 0 13px; color:#666;}
.login-short li{ float:left; height:33px; width:33px; margin-right:18px; background:url(../img/member.png) -13px -24px no-repeat;}
.login-short li a{ display:block; height:33px;}
.login-short .qq{ background-position:-13px -24px;}
.login-short .sina{ background-position:-49px -24px;}
.login-short .weixin{ position:relative; background-position:-85px -24px;}
.login-short .renren{ background-position:-121px -24px;}
.login-short .baidu{ background-position:-79px -57px;}
.login-short .qr-code{ display:none; position:absolute; left:50%; top:100%; width:104px; height:104px; padding:8px; margin:8px 0 0 -60px; border:1px solid #ccc; background:#fff;}
.login-short .qr-code em,.login-short .qr-code i{ position:absolute; left:50%; top:-14px; width:0; height:0; margin-left:-6px; border-width:7px 6px; border-style:dashed dashed solid dashed; border-color:transparent transparent #ccc transparent;}
.login-short .qr-code i{top:-13px; border-color:transparent transparent #fff transparent;}
.login-short .qr-code img{ width:104px; height:104px;}
.login-short .hover .qr-code{ display:block;}

.form-box .form-foot{ width:482px; height:52px; padding:4px;}
.form-box .form-foot_p{ height:52px; line-height:52px;text-align:center; background:url(../img/form-footbg.png); font-family:"Microsoft YaHei";}
.form-foot_p .spanb{ font-size:16px;}
.form-foot_p label{ margin-left:5px; color:#d00;}
.form-foot_p .spans{ font-size:12px;}
.form-dl-jym{ display:none;}
/*register*/
.register-wrap{ width:100%; height:480px; background:#fff url(../img/registerBg.jpg) center center no-repeat; color:#333; font-family:"Microsoft YaHei";}
.register-wrap .wrap{ width:1176px; height:466px; padding:7px; margin:0 auto; background:#e5e5e5; background:rgba(0,0,0,.1);}
.register-wrap .registerBox{ width:1176px; height:466px; background:#fff;}
.registerBox .register-h1{ width:350px; height:38px; line-height:38px; padding:35px 0 25px; font-size:18px; text-align:center;}
.registerBox .register-left{ position:relative; width:584px; height:466px; margin-left:234px; border-right:1px solid #ddd;}
.register-left .form-error{ top:68px; left:0;}
.register-left dl{width:348px;}
.register-left dt{ width:77px;}
.register-left dd{ width:251px;}
.register-left .input-text{ width:251px; padding:0;}
.register-left .btn-box .btn-settlement{ width:350px;}
.register-left .input-yzm{width:86px; padding:0;}
.register-left .correct{ display:none; position:absolute; right:10px; top:50%; height:24px; width:24px; margin-top:-12px; background:url(../img/member.png) -35px 0 no-repeat;}
/*.register-left .link-box{height:38px; line-height:38px; text-align:right; font-size:14px; color:#666;}*/
.register-left .link-btn{ margin-left:12px;}
.register-left .link-btn:link,.register-left .link-btn:visited{ color:#007fd7;}
.register-left .link-btn:hover,.register-left .link-btn:active{ color:#d00;}
.registerBox .register-right{ width:357px;}
.register-right .link-box{ width:220px; margin:0 auto; padding:35px 0 13px; line-height:36px; font-size:14px; color:#666; text-align:center; border-bottom:1px dotted #ddd;}
.register-right .right-p{ line-height:1; text-align:center; color:#666; margin-top:26px; font-size:14px;}
.register-right .right-p .forget-pass{ margin-left:12px;}
.register-right .login-short{ width:220px; margin:0 auto; margin-top:33px;}
.register-right .login-short h3{ padding:19px 0 17px; font-size:14px; text-align:center;}
.register-right .login-short ul{ text-align:center;}
.register-right .login-short li{ float:none; display:inline-block; margin-right:8px;}
.register-left .placeholder{ left:0;}
.register-right .h3{height:60px; margin-top:13px; font-size:16px; color:#333; text-align:center;}
.register-right .wx-text{line-height:30px;}
.register-right .wx-text em{display:block; padding:15px 0; line-height:30px;}
.register-right .wx-text b{font-weight:bold;}
.register-right .qrcode-box{ position:relative;}
.register-right .wx-img-box{ position:relative; z-index:2; display:block; width:158px; height:158px; margin:0 auto; border:1px solid #eee;}
.register-right .wx-img-box .wx-qrCode{ display:block; width:158px; height:158px;}
.register-right .wx-img-box .wx-qrCode-logo{ position:absolute;z-index:3; top:50%; left:50%; width:40px; height:40px; margin-left:-20px; margin-top:-20px;}
.register-right .wx-img-box .statusImg{ display:none; position:absolute;z-index:4; top:0; left:0; width:158px; height:158px;}

/*register-phone*/

.register-phone{ width:100%; height:542px; background:#fff; color:#333; font-family:"Microsoft YaHei";}
.register-phone .wrap{ width:1070px; height:423px; padding:7px; margin:0 auto; background:#e5e5e5; background:rgba(0,0,0,.1);}
.register-phone .regPhoneBox{ width:954px; height:381px; padding:21px 58px; background:#fff;}
.register-step{ width:1070px; height:90px; margin:17px auto 0;}
.register-step .register-jd{position:relative; padding:26px 70px 10px; width:930px; height:4px;}
.register-step .jd-over,.register-step .jd-none{ width:50%; height:4px; float:left;}
.register-step .jd-over{ background:#fcc;}
.register-step .jd-none{ background:#eee;}
.register-step .step1,.register-step .step2,.register-step .step3{ position:absolute; top:17px; width:70px; height:47px; text-align:center;}
.register-step .step1{ left:35px;}
.register-step .step2{ left:50%; margin-left:-35px;}
.register-step .step3{ right:35px;}
.register-step .over i,.register-step .none i{ display:inline-block; width:23px; height:23px; background:url(../img/member.png) -59px 0 no-repeat; vertical-align:top;}
.register-step .none i{ background-position:-82px 0;}
.register-step .over h3,.register-step .none h3{ color:#666; font-size:14px;}
.register-step .none h3{ color:#ccc;}
.regPhoneBox .register-h1{height:38px; line-height:38px; border-bottom:1px solid #d6d6d6; font-size:20px;}
.regPhoneBox .register-h1 em{ font-size:14px; color:#999; margin-left:12px;}
.regPhoneBox .register-center{ position:relative; width:350px; margin:40px auto 0;}
.register-center .h1-error{ display:none; height:16px; padding:6px 6px 6px 12px;margin-bottom:15px; border:1px solid #ffddbc; background:#fffceb;}
.register-center .h1-error .text{display:block; padding-left:22px; line-height:16px; font-family:"Microsoft YaHei"; color:#666; white-space:nowrap; background:url(../img/member.png) -124px 0 no-repeat;}
.regPhoneBox .btn-box .btn-settlement{ width:350px; margin-top:22px;}
.regPhoneBox dl{ width:348px;}
.regPhoneBox .center-h2{ text-align:center; height:20px; line-height:20px; padding:4px; margin-bottom:15px; border:1px solid #c4e3ff; background:#edf8ff;}
.regPhoneBox .center-h2 i{ display:inline-block; height:19px; width:19px; margin-right:8px; background:url(../img/member.png) -105px 0 no-repeat; vertical-align:top;}
.regPhoneBox dd{ width:268px;}
.regPhoneBox dt.note{ width:85px;}
.regPhoneBox dd.note{ width:243px;}
.regPhoneBox dl.unabled{ background:#eee;}
.regPhoneBox dl.unabled .span-jym{ border-color:#ccc; color:#999;}





/*foot*/
.foot_info{margin:30px 0;text-align:center;line-height:24px; color:#999;}

.weixin-login{ font-family:"Microsoft YaHei";}
.weixin-login .wx-box{ position:relative;}
.weixin-login .wx-img-box{ position:relative; z-index:2; float:left; width:158px; height:158px; margin-left:110px; border:1px solid #eee;}
.weixin-login .wx-img-box .wx-qrCode{ display:block; width:158px; height:158px;}
.weixin-login .wx-img-box .wx-qrCode-logo{ position:absolute;z-index:3; top:50%; left:50%; width:40px; height:40px; margin-left:-20px; margin-top:-20px;}
.weixin-login .wx-img-box .statusImg{ display:none; position:absolute;z-index:4; top:0; left:0; width:158px; height:158px;}
.weixin-login .wx-box .wx-image{ position:absolute; z-index:0; right:8px; top:0; width:175px; height:158px; filter:alpha(opacity=0); opacity:0;}
.weixin-login .wx-text{ margin-top:22px; font-size:16px; line-height:28px; color:#333; text-align:center;}
.weixin-login .wx-text b{ font-weight:bold;}
.weixin-login .wx-help{ margin-top:14px; text-align:center;}
.weixin-login .wx-help .help-a{ font-size:12px; text-decoration:none;}
.weixin-login .wx-help .help-a:link,.weixin-login .wx-help .help-a:visited{ color:#666;}
.weixin-login .wx-help .help-a:hover,.weixin-login .wx-help .help-a:active{color:#f00;}


#weixin_login_container{ position:absolute; left:0; right:0; bottom:0; top:0}



/* footer */
#jia_footer { margin-top: 50px; padding-bottom: 20px; background-color:#fff}
#jia_footer a { color: #999}
#jia_footer p { text-align: center}
#jia_footer a:hover { color: #d00}
.jia_foot_info { text-align: center}
.jia_foot_info .jia_foot_link { padding: 10px 0; text-align: center}
#jia_footer .jia_foot_link { padding: 10px 0; text-align: center}
#jia_footer .jia_foot_link .jia_split { color: #ddd }
.jia_foot_info .jia_foot_link a { color: #333; padding: 0 15px}
.jia_foot_info p { line-height: 24px; color: #aaa}
.jia_foot_open i { display: inline-block; width: 9px;height: 6px; background: url(../img/jia_foot_icn.png) 0 -218px no-repeat; margin-left: 3px; position: relative; top: -1px}
.jia_foot_open i.footnow { background-position: 0 -210px }
.jia_foot_open:hover i { background-position: -11px -218px}
.jia_foot_open:hover i.footnow { background-position: -11px -210px}
.footnone { display: none; margin-top: -10px}
#jia_footer .jia_foot_help dl.jia_other_map p { text-align: left;}
#jia_footer .jia_foot_help dl { font-family: "微软雅黑";}


/*20150925 modify*/
.loginV2 .form-con{ width:380px; height:auto; padding:0;}
.shortLogin .form-con{ position:relative; width:300px; height:auto; padding:52px 40px 0;}
.loginV2 .login-normal,.loginV2 .login-partner{ width:300px; padding:40px 40px 0;}
.loginV2 .form-error{ top:7px;}
.shortLogin .form-error{ top:5px;}
.loginV2 dl{width:298px; padding:12px 0;}
.shortLogin dl{width:298px; padding:16px 0;}
.loginV2 dd,.shortLogin dd{ width:218px;}
.loginV2 .input-text,.shortLogin .input-text{width:180px;}
.loginV2 .input-yzm,.shortLogin .input-yzm{width:50px;}
.loginV2 .span-yzm{ top:-13px; width:150px; padding:5px 0;}
.shortLogin .span-yzm{ width:150px;}
.loginV2 .span-yzm img,.shortLogin .span-yzm img{ margin:0 5px 0 7px;}
.loginV2 .form-remember{ padding:11px 0 17px;}
.shortLogin .form-remember{ padding:9px 0 13px;}
.loginV2 .btn-box,.shortLogin .btn-box{ height:40px;}
.loginV2 .btn-box .btn-settlement,.shortLogin .btn-box .btn-settlement{ width:100%;}
.loginV2 .forget-pass,.shortLogin .forget-pass{ color:#007fd7; font-size:12px;}
.loginV2 .link-box .forget-pass,.loginV2 .link-box .register{ float:right; width:72px; line-height:34px; font-family:"Microsoft YaHei";}
.loginV2 .link-box .register{ float:left; color:#007fd7;}
.loginV2 .link-box .register:hover{ color:#d00;}
.shortLogin .forgetPass,.shortLogin .backLogin{ float:left; line-height:38px; font-family:"Microsoft YaHei"; color:#007fd7;}
.shortLogin .forgetPass:hover,.shortLogin .backLogin:hover{ color:#d00;}
.shortLogin .backLogin{ float:right;}
.loginV2 .login-short{ padding-top:18px; padding-bottom:12px; margin:0;}
.loginV2 .short-left{ float:left; width:150px;}
.loginV2 .short-right{ float:left; width:124px; padding-left:25px; border-left:1px dotted #ddd;}
.loginV2 .login-short h3{ padding:0 0 12px 0;}
.loginV2 .login-short .phone-short{ height:33px;}
.loginV2 .login-short .phone-short .txt{ float:left; line-height:33px; font-size:14px; color:#666;}
.loginV2 .login-short .phone-short .txt:hover{ color:#d00;}
.loginV2 .login-short .phone-short .phone{ float:left; height:33px; width:33px; margin-right:7px; background:url(../img/member.png) -115px -57px no-repeat;}
.loginV2 .login-short li{ margin-right:16px;}
.shortLogin{ display:none;}
.shortLogin .title{ height:40px; line-height:40px; padding-top:18px; font-size:18px; color:#d00; text-align:center;}